.example-spacer {
  flex: 1 1 auto;
}

span {
  font-size: 15px;
  margin-left: 10px;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 1px 1px 1px #888888;
  padding: 0 45px;
}

.secondRow {
  box-shadow: 1px 1px 1px black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 25px;
}

.headerSpan {
  margin: 15px;
}
