.example-spacer {
  flex: 1 1 auto;
}

span {
  font-size: 15px;
  margin-left: 10px;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: ghostwhite;
  box-shadow: 5px 5px 5px ghostwhite;
  padding: 0 45px;
  color: #2f2e41;
  height: 35px;
}

.secondRow {
  box-shadow: 1px 1px 1px #0F7173;
  display: flex;
  flex-direction: row;
  background-color: #0F7173;
  color: ghostwhite;
  justify-content: flex-end;
  padding: 0 25px;
}

.headerSpan {
  margin: 15px;
}

.menySpan {
  margin: 15px;
}
