<mat-toolbar>
  <mat-toolbar-row class="firstRow">
    <span>Språk</span>
    <span>Teckenspråk</span>
    <span>Ordlista</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="secondRow">
    <button mat-button routerLink="/">
      <h3>Kronoportal</h3>
    </button>

    <span class="example-spacer"></span>

    <button mat-button class="example-icon">
      <mat-icon>search</mat-icon>
    </button>


    <button *ngIf="loggedIn" mat-button class="example-icon" routerLink="/mydebt">
      <span class="headerSpan">Mina sidor</span>
      <mat-icon>person</mat-icon>
    </button>

    <button *ngIf="!loggedIn" mat-button class="example-icon" routerLink="/user">
      <span class="headerSpan">Logga in</span>
      <mat-icon>person</mat-icon>
    </button>

    <button mat-button class="example-icon">
      <span class="headerSpan">Meny</span>
      <mat-icon>menu</mat-icon>
    </button>



  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
