.mat-card {}

.mat-card-title {
  margin-bottom: 30px;
}

.logIn {
  display: flex;
  justify-content: center;
  width: 250px;
  height: auto;
  min-height: 600px;
  max-height: 650px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
}

.mover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Serenity_beach.jpg");

  display: flex;
  justify-content: space-evenly;

}

.mat-card .txtcard {
  background: none;
  color: red;
  box-shadow: none;
  width: 300px;
}


.txtcard .mat-card-title {
  font-weight: 600;
}

.logintext {
  display: flex;
  align-items: center;
}
